@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    font-family: "Roboto", "sans-serif";
    line-height: 1.5;
}

h1 {
    text-align: center;
    color: #666;
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 20px;
}

.calculadora {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #010101;
    box-shadow: 0 0 10px #999;
}

#display {
    width: 100%;
    margin-bottom: 10px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.operator,
.number,
.equal,
.clear,
.erase {
    width: 100%;
    height: 40px;
}

.operator,
.number {
    background-color: #f2f2f2;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 20px;
    color: #666;
}

.erase,
.clear,
.operator {
    color: orange;
}

.operator:hover,
.number:hover {
    background-color: #e6e6e6;
}

.equal {
    background-color: orange;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 20px;
    color: #f2f2f2;
}

.equal:hover {
    background-color: #ff8c00;
}

footer {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
    padding: 20px;
    justify-content: left;
}

footer p {
    color: #fff;
    text-decoration: none;
}
strong {
    color: orange;
}

@media (max-width: 768px) {
    .calculadora {
        width: 100%;
    }
}
